/*==== Imports ====*/
/* Libraries */
@import "vendor/normalize";
@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "jquery.fancybox.css";

/* Font-face */
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(http://themes.googleusercontent.com/static/fonts/lobstertwo/v5/Law3VVulBOoxyKPkrNsAaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face{
    font-family: 'Raleway', sans-serif;

}

@font-face {
  font-family: 'Dosis Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('DosisRegular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v2/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}

/*==== Variables ====*/
/* Site widths */
$min-width: 960px;
$max-width: 1440px;

/* Font-family */
$lobster: 'Lobster Two', Helvetica, Arial, sans-serif;
$dosis: 'Dosis Regular', Helvetica, Arial, sans-serif;

/* Font-size */
$font-size-base: 14px;
$font-size-alpha: em(30px, $font-size-base);
$font-size-beta: em(20px, $font-size-base);
$font-size-gamma: em(16px, $font-size-base);
$font-size-delta: em(13px, $font-size-base);
$font-size-epsilon: em(12px, $font-size-base);

/* Colors */
$color-lightgrey: #bec3c7;
$color-grey: #808b8d;
$color-blue-juux: #87bbba;
$color-rgba-blue-juux: rgba($color-blue-juux, 0.5);

/*==== Mixins ====*/
@mixin background-rgba($red, $green, $blue, $opacity, $rgba) {
    background-color: transparent;
    background-color: rgba($red, $green, $blue, $opacity);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$rgba}',endColorstr='#{$rgba}');
    zoom: 1;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-direction-radius($direction, $radius) {
    -webkit-border-#{$direction}-radius: $radius;
    -moz-border-#{$direction}-radius: $radius;
    border-#{$direction}-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin opacity($opacity) {
    filter: alpha(opacity=$opacity * 100);
    -khtml-opacity: $opacity;
    -moz-opacity: $opacity;
    opacity: $opacity;
}

@mixin gradient($from, $to) {
    background-color: $to;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background-image: -webkit-linear-gradient(top, $from, $to);
    background-image:    -moz-linear-gradient(top, $from, $to);
    background-image:     -ms-linear-gradient(top, $from, $to);
    background-image:      -o-linear-gradient(top, $from, $to);
    background-image:         linear-gradient(top, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin border-transparent($size, $type, $rgba) {
    border: $size #{$type} #{$rgba};
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/*==== Misc ====*/
body {
    background: #fafafa;
    font-family: $helvetica;
    color: #222;
    line-height: 0;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: $dosis;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
}

h1 {
    font-size: $font-size-alpha;
}

h2 {
    font-size: $font-size-alpha;
    font-weight: bold;
}

h3 {
    font-size: $font-size-beta;
    text-align: center;
}
h4{
    text-align: center;
}

p,li{
    font-family: $dosis;
}

a {
    font-size: $font-size-delta;
    color: white;

    &:hover, &:focus {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.cell { display: inline-block; *display: inline; zoom: 1; margin-top:5%; }
.hack-valign{ display: inline-block; *display: inline; zoom: 1;  height: 100%; vertical-align: middle; }

.fullwidth { width: 100%; }

/*==== Main styles ====*/
.outer-wrapper {
    @include outer-container();
    line-height: 0;
    
    
}

[role=banner],
[role=contentinfo] {
  width: 100%;
  background-color: #FFF;
}


[role=banner] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    [role=navigation] {
        text-align: center;

        a {
            position: relative;
            display: inline-block;
            font-size: $font-size-beta;
            font-family: $dosis;
            color: $color-lightgrey;
            padding: 0 32px;
            text-decoration: none;
            line-height: normal;

            &:hover, &:focus {
                color: $color-grey;
            }

            &:after {
                position: absolute;
                top: 8px;
                right: 0px;
                display: inline-block;
                content: '';
                width: 1px;
                height: 16px;
                
            }
        }
    }
}

[role=main] {
    margin-top: 61px;

    .outer-section {
        position: relative;
        width: 100%;
        line-height: 0;

        & > img {
            width: 100%;
        }
    }

    .wrapper {
        @include size(100%);
        line-height: normal;
        padding: 4%;
    }

    .wrapper-abs {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#section-welcome {
    background-position: -60px 0;

    h1 {
        font-size: 30px;
        margin-bottom: 24px;
    }

    .wrapper {
        /*padding: 111px 24px;*/
    }

    .left-block, .right-block { height: 100%; }

    .left-block {
        @include span-columns(5);
        padding-right: 10%;
    }

    .right-block {
        @include span-columns(5);
        @include shift(2);
        padding-left: 7%;

        .inner-block {
            @include span-columns(1 of 3);
            margin-right: 4%;
        }
    }

    .right-inner-block {
        width: 100%;
    }
}

#section-work { 
    

}

#project-sony {
    /* @include span-columns(7);

    .block {

        &:nth-child(1) {
            @include span-columns(3 of 7);
        }
        &:nth-child(2) {
            @include span-columns(2 of 7);
        }
        &:nth-child(3) {
            @include span-columns(2 of 7);
        }
    } */
}

#project-aude {

}

#project-cifamily {
    
}

#project-ipsos {
    
}

/*#section-about { background-image: url("/images/bg-verdon.jpg"); }*/
#section-world { background-image: url("/images/bg-ecuador.jpg"); }
#worldmap-about{
    .block {
        &:nth-child(1) {
            @include span-columns(5 of 7);
        }
        &:nth-child(2) {
            @include span-columns(2 of 7);

        }
        
    }

}

/* Blocks */
.block {
    img {
        width: 100%;
    }
}

.block-skill {
    text-align: right;
}

/* Grid */
.grid-section {
    width: 100%;

    .content-block {
        margin-bottom: 10px;
    }
}
.grid-column-1 { @include span-columns(1); }
.grid-column-2 { @include span-columns(2); }
.grid-column-3 { @include span-columns(3); }
.grid-column-4 { @include span-columns(4); }
.grid-column-5 { @include span-columns(5); }
.grid-column-6 { @include span-columns(6); }
.grid-column-7 { @include span-columns(7); }
.grid-column-8 { @include span-columns(8); }
.grid-column-9 { @include span-columns(9); }
.grid-column-10 { @include span-columns(10); }
.grid-column-11 { @include span-columns(11); }
.grid-column-12 { @include span-columns(12); }
.omega { @include omega(); }
.grid-column-4-of-6{@include span-columns(4 of 6);}
.grid-column-2-of-6{@include span-columns(2 of 6);}
.grid-column-4-of-7{@include span-columns(4 of 7);}
.grid-column-3-of-7{@include span-columns(3 of 7);}
.grid-column-5-of-7{@include span-columns(5 of 7);}
.grid-column-2-of-7{@include span-columns(2 of 7);}
.grid-column-4-of-8{@include span-columns(4 of 8);}
.grid-column-3-of-8{@include span-columns(3 of 8);}
.grid-column-5-of-8{@include span-columns(5 of 8);}
.grid-column-2-of-8{@include span-columns(2 of 8);}
.grid-column-5-of-8{@include span-columns(5 of 8);}
.grid-column-1-of-3{@include span-columns(1 of 3);}
.grid-column-2-of-3{@include span-columns(1 of 3);}
.grid-layout-alpha {
    .block {
        &:nth-child(1) {
            @include span-columns(3 of 7);
        }
        &:nth-child(2) {
            @include span-columns(2 of 7);
        }
        &:nth-child(3) {
            @include span-columns(2 of 7);
        }
    }
}
.grid-layout-beta {
    .block {
        &:nth-child(1) {
            @include span-columns(12 of 12);
            margin-bottom: 12px;
        }
        &:nth-child(2) {
            @include span-columns(7 of 12);
        }
        &:nth-child(3) {
            @include span-columns (5 of 12);
        }
    }
}

/* Layout skills */
.list-skill {
    float: left;
    width: 100%;
    list-style-type: none;

    &.two-column li {
        width: 50%;
        float: left;

        &:nth-child(2n) {
            text-align: left;
        }

        &:nth-child(odd) {
            padding-right: 4px;
        }
    }
}

/* Main */
[role=contentinfo] {
    .wrapper {
        text-align: center;
    }
}

/* Layout (to remove) */
.outer-container { @include outer-container; }
.column { @include span-columns(2); }
.last { @include omega(); }
.shift { @include shift(4); }

.box { @include border-radius(10px); }

/* Elements */
.content-block {
    display: inline-block;
    $opacity: 0.8;
    @include border-radius(3px);
    padding: 24px 24px 0;
    text-decoration: none;

    &.white {
        background: rgba(255, 255, 255, $opacity);

        h1, h2, h3, p {
            color: #000;
        }
    }

    &.black {
        background: rgba(0, 0, 0, $opacity);

        h1, h2, h3, p {
            color: #FFF;
        }
    }

    p {
        margin: 0 0 12px;
    }

    .img-placeholder {

    }

}

.img-placeholder img {
    max-width: 100%;
}

.picto {
    $opacity: 0.85;

    @include border-radius(60em);
    @include border-transparent(1px, "solid", "rgba(255, 255, 255, 0.5)");
    background: rgba(0, 0, 0, $opacity);
    color: red;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;

    &.smallest { @include size(26px); }
    &.small { @include size(36px); }
    &.medium { @include size(48px); }
    &.large { @include size(64px); }
    &.big { @include size(78px); }
    &.biggest { @include size(116px); }

    &.cyan { background: rgba(138, 187, 186, $opacity); }
    &.lightblue { background: rgba(29, 172, 228, $opacity); }
    &.darkblue { background: rgba(12, 116, 179, $opacity); }
    //&.cyan { background: rgba(0, 0, 0, $opacity); }

    &.top-left { @include border-direction-radius("top-left", 0); }
    &.top-right { @include border-direction-radius("top-right", 0); }
    &.bottom-left { @include border-direction-radius("bottom-left", 0); }
    &.bottom-right { @include border-direction-radius("bottom-right", 0); }

    span, p {
        color: white;
    }

    p {
        font-size: $font-size-epsilon;
    }
}

.picto-welcome {
    text-align: center;

    .inner-picto {
        padding: 6px 4px 6px;
    }

    span, p {
        font-family: $lobster;
    }

    span {
        font-size: $font-size-gamma;
        margin-right: 20px;
        margin-top: 2px;
        display: inline-block;
    }

    p {
        margin: 3px 0;
    }

    .picto {
        margin: 0 auto;
    }
}

.see-more {
    text-transform: lowercase;

    &:before {
        content: '> ';

    }
}

/* Icons */
.icon {

}

.icon-french-flag {

}
/* about */

.align_text{text-align: justify;}
/*
#right_bloc_about{
height: 300px;color:black;background: black;border: 1px solid red;
}
#left_bloc_about_down{
height: 150px;color: black;
}
#left_bloc_about_up{
height: 150px;color: black;
}
*/

.heart {
	font-family:'Dosis Regular', Helvetica, Arial, sans-serif;
    
    text-align: left;
    float:left;
    width:100%;
    padding-bottom: 24px;

    
    
    


	 
	li{
        
        line-height: 19px;
        
       

    }
	

}

.heart_1{
    li{
        
        margin-left:24px;
        font-size: 13px;
    }
    
}
.coeur{

    li{list-style-image : url(../images/heart.png);}
}
.heart1{

padding-top: 10px;
padding-bottom: 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.heart2{
background-color: rgba(135, 187, 186, 0.5);
padding-top: 3px;
padding-bottom: 3px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}

.flags1{
    list-style-image : url(../images/fr.png);
}

.flags2{
    list-style-image : url(../images/es.png);
}
.flags3{
    list-style-image : url(../images/en.png);

}
                                   


.title_juux{
	margin-top: 1%;
	margin-bottom: 1%;
	padding-bottom: 1%;
}


.mohini{
	vertical-align: bottom;
}

.flags{
	@include size(20px);
	border: none;
    padding: 0px;

}
.flags img{
    @include size(20px);
	border: white;
}

#flags {
	float:left;
    padding: 0px;
    border-right: white 1px solid;
}


.bottom{
        margin-bottom: 40px;
    }

#img_map{
    width:60%;
    height: 60%;
    float:left;
}

#travel{
    width: 50%;
    float:left;
}
#content_img_map{
    width: 50%;
    height: 50%;
    float: left;
}
.trad{

}
.paris{
    margin-bottom:15px;
  

}

.animate:target {
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
/*@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }

    
}*/

/* slide */
.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }
/*slide */

.h1welcome{
font-family: 'Raleway';
text-align: center;
font-size: 62px;
padding-bottom: 20px;
color:white;
text-shadow: 0px 0px 6px #bec3c7;
  color: #fff;

}

.h2welcome{
    text-align: center;
    font-size: 30px;
    color:white;
    text-shadow: 0px 0px 6px #bec3c7;
}
.img_contact{
    width: 46px;
    height: 46px;
    float: left;
    padding-top:20px;
}
.nom_contact{

   padding-top:20px;
   padding-left: 30px; 
   font-style: bold;
}

.a_contact{
    color:black;
    font-family: 'dosis';
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    vertical-align: left;
    
  
}
#section-welcome-2{
   background-color: 000;
   background-size:cover;
   height: 100%

}
.skills_img{
    margin-top:20px;

}
.blue_header_span{
    font-size: 50px;
    color: $color-blue-juux;
    font-family: dosis;
    font-weight: normal;
}

.img_skill{
    padding-right: 15px;
}

.h3_contact{
    
    text-align: center;
}
.title{
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
}

.margin_project{
    margin-bottom: 15px;
}

.blue_txt{

     color: $color-blue-juux;
     
}
.map {
    width: 100%;
    vertical-align: middle;
    
}

.fancySlider {
    height: 222px;
    overflow: hidden;
}
.titleabout{
    font-size: 12px;
    text-align: center;
}
.blueback{
    background-image: url(../images/welcome_fond.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.padding_dev{
    padding: 0px;
    float:left;
}
.pad_contact{
    padding-left: 20px;
}
.mail{
           list-style-image: url(../images/pictomail.png);
           list-style-position: outside;
}
.tel{
           list-style-image: url(../images/pictotel.png);
           list-style-position: outside;
}
.lieurecherche{
           list-style-image: url(../images/pictolieu.png);
           list-style-position: outside;
}
.sociaux{
           list-style-image: url(../images/world.png);
           list-style-position: outside;
}
.titre_about_h4{
    width: 100%;
    font-size: 13px;

}
.titre_about_h4_bis{
    width: 100%;
    font-size: 12px;

}
.mzellejuux{
    font-family: 'Lobster Two';
}
.padding24{
    padding-top: 24px;
}
.margin0{
    margin: 0px;
}
.dev{

    li{hyphens:auto;}
    
}